<!DOCTYPE>
<html lang="english">

<head>	
<title> csc </title>
<link rel="stylesheet" type="text/css" href="css/legend.css">
<img src="images/ji.jpg" alt="cse" width="1240" height="200">
</head>
<body style="background-color:#E74C3C">

<!-- Create A Top Navigation Bar -->
<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font: Engravers MT;}

/*Style the tab*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab*/
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover*/
.tab button:hover {
  background-color: #ddd;
}

/*Create an active/current tablink class*/
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content*/
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
</head>
<body>



<div class="tab">

  <button class="tablinks" onclick="openCity(event, 'Home')">Home</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="tablinks" onclick="openCity(event, 'profile')">profile</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="tablinks" onclick="openCity(event, 'About as')">About as</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="tablinks" onclick="openCity(event, 'courses')">courses </button>
<button class="tablinks" onclick="openCity(event, 'Gallery')">Gallery</button>
<button class="tablinks" onclick="openCity(event, 'policies')">policies</button>
<button class="tablinks" onclick="openCity(event, 'Achievements')">Achievements</button>
<button class="tablinks" onclick="openCity(event, 'contact us')">contact us</button>
</div>

<ul>

<div id="profile" class="tabcontent">
  <h3>profile</h3>
<ul>
  <li><p style="color:white"> Board Members
  </li>
  <li><p style="color:white">study Material</li>

  <li><p style="color:white">Exams & certificate</li>
</p> 
</ul>
</ul>
</div>

<div id="About as" class="tabcontent">
<i>
  <h3>About as
  <p style="color:white">About CSC Computer Education Private Limited, Chennai,Tamilnadu CSC Computer Education Private Limited (CSCCEPL), Chennai is a 22 Years old Training Institute with over 375 Centers in South India and Srilanka. CSC Computer Education is known for its quality Computer Education and is recognized as a leader in providing IT training. It is an ISO 9001:2000 certified institute. The vision of the institute is to be in the forefront of Computer Education and make emerging technologies reach the major segment of the society and providing quality education across 1 billion Indian populations. Their mission is to open the floodgates of Career Opportunity to everybody. As a part of its mission, it intends to take computers to the remotest corner of the Tamil Nadu and slowly & steadily in rest of India. CSC commit wholeheartedly to satisfy the customer expectations as well as to continually improve the effectiveness of the Quality Management System through planned efforts and involvement of all personnel.


</p> 
</h3>
</i>
</div>


<ul>

<div id="courses" class="tabcontent">
  <h3>courses</h3>
<ul>
  <li><p style="color:white">DCA
  </li>
  <li><p style="color:white">Tally</li>

  <li><p style="color:white">c++</li>
<li><p style="color:white">c</li>
<li><p style="color:white">Python</li>
<li><p style="color:white">Auto cad</li>
<li><p style="color:white">ADJP</li>
<li><p style="color:white">DMO</li>
<li><p style="color:white">Java</li>
<li><p style="color:white">HDCA</li>

</p> 
</ul>
</ul>
</div>


<div id="Gallery" class="tabcontent">
  <h3>Gallery</h3>
<style>
 {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>





<div class="row">
  <div class="column">
    <img src="images/csc.jpg"  style="width:100%">
<br>
<p>computer rows</p>
  </div>
  <div class="column">
    <img src="images/css.jpg"  style="width:100%">
<p>group discussion</p>
  </div>
  <div class="column">
    <img src="images/cs.jpg"  style="width:100%">
  </div>
</div>
   
</div>

<div id="policies" class="tabcontent">
  <h3>
<i>
RULES AND REGULATIONS-GENERAL</h3>
<ul>
  <li><p style="color:white">class will normally work for 2hours,</li>
<li><p style="color:white">Students are required to be regular and punctual to the classes,</li>
<li><p style="color:white">Students should be seated  5 minutes before the commencement of the class,</li>
<li><p style="color:white">CELLPHONE IS STRICTLY PROHIBITED INSIDE THE INSTITUTE,</li>
</ul>
</p> 
</i>
</div>



<div id="Achievements" class="tabcontent">
<i>
  <h2>Achievements:</h3>
<ul>
<li><p style="color:white">Many awards from government</li>
<li><p style="color:white">Yearly max 200 students join</li>
<li><p style="color:white">ETC................................</li>
</ul>
</p>
</h2>
 </i>
</div>




<div id="contact us" class="tabcontent">
<i>
  <h3>contact us</h3>
  <p>google map <a href="https://www.google.com/maps/place/R.M.K.+Engineering+College/@13.3416669,80.1288456,14z/data=!4m8!1m2!2m1!1srmk!3m4!1s0x3a4d807de229f987:0x11cc13e2927bfabc!8m2!3d13.3566454!4d80.1411049" target="blank">link</a>
</p> 
</i>
</div>


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>


</style>
</body>
<br><br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/sdd.jpg" alt="cse" width="1070" height="500">
 <hr>



<head>
<style>
table, th, td {
  border:  solid #EAE12A;
	background-color: #5ED63E;
}
</style>
</head>
<body>

<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SERVICES
<br><br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VIJAYADASAMI FESTIVAL FEE OFFER(VISIT CSC AND GET OFFER)</h2>
</p>

<!--Tables-->
<table style="width:100">
  <tr>
    <th>courses</th>
    <th>Fees</th> 
    
  </tr>
  <tr>
 <td style="color:white"> <br>HDCA/TALLY/WEBTECHNOLGY/DTP,C,C++,PYTHON
DCA/TALLY/C,C++,JAVA, .NET,ADVANCE EXEL
AUTOCAD/MECH/ELEC/CIVIL/HARDWARE/NETWORKING<br>
MS OFFICE</td>
    <td style="color:white"> <br> Rs.4,000</td>
   
  </tr>
  <tr>
    <td style="color:white"> <br>MINERAL WATER,DAILY NEWS PAPER,REST AREA,AND ALSO WIFI ,NEAR BY TYPWRITTING ,SPOKEN ENGLISH CLASSES<br>
TAILORING</td>
    <td style="color:white"> <br>RS.2,000</td>
   
  </tr>
  <tr>
    <td style="color:white"> <br>PYTHON</td>
    <td style="color:white"> <br>Rs.8,000</td>
    
  </tr>

    
  <tr>
    <td style="color:white"> <br>Auto cad (2d,3d) civil,elctrical,Mechanical</td>
    <td style="color:white"> <br>Rs.8,000</td>
    
  </tr>
<tr>
    <td style="color:white"> <br>ADDP(C,C++,PYTHON)</td>

    <td style="color:white"> <br>Rs.10,000</td>
    
  </tr>
<tr>
    <td style="color:white"> <br>HDCA(HONOURS DIPLOMO IN COMPUTER APPLICATION)</td>

    <td style="color:white"> <br>Rs.12,000</td>
    
  </tr>

<tr>
    <td style="color:white"> <br>DCA(DIPLOMA IN COMPUTER APPLICATION)</td>

    <td style="color:white"> <br>Rs.12,500</td>
    
  </tr>
<tr>
    <td style="color:white"> <br>ADJP(C,C++,JAVA)</td>

    <td style="color:white"> <br>Rs.12,000</td>
    
  </tr>
<tr>
    <td style="color:white"> <br>TALLY ERP 9</td>

    <td style="color:white"> <br>Rs.8,000</td>
    
  </tr>
</table>


</body>
<br>
<img src="images/re.jpg" alt="cse" width="110" height="100" class="center" >
<br><br>

<head>
<style>
 <contest>{
  float: right;
  border: 1px dotted black;
  margin: 0px 0px 15px 20px;
}
 content_area{
  float: left;

  margin: 0px 0px 15px 20px;
}
</style>
</head>

</head>

<contest>

<img src="images/rai.JPG" alt="cse" width="600" height="600">
<h3><i>
<p style="color:white">
<style="color:white">Posted on Sep 10, 2020
<p style="color:white">CSC Computer Education
<p style="color:white">DMO Diploma in MS-Office 4HOURS (45DAYS)
<p style="color:white">Oct 5, 2020 – Dec 5, 2020
<p style="color:white">7500/RS (4000+3500)DUAL PAYMENT
<p style="color:white">Valid Oct 5, 2020 – Dec 5, 2020</content_area>
</h3></i>
</p>
<contest>




</head>

</html>
<br><br><br>
<body>
<style>
div {
border-style: solid;

  border-color: black;
width:auto;
  
background-color: #E89905;
}
</style>

<div><h3>
BUSINESS HOURS:<br>
<br>
MONDAY TO SATURDAY<br>
TIME:9:00 AM – 8:00 PM<br>
SUNDAY : CLOSED</h3>
<hr>

<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ADDRESS</h1>

<address><h3>

 
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Written by <a href=https://rambalaji944@gmail.com>MAIL</a>
<br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visit us at:<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;941, East Main Street,south indian bank upstairs
Thanjavur, Tamil Nadu 613001
India<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CALL:04362 233 487,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;099413 33487

</p>



</address>
</h3>
</div>

</body>
</html>
